body {
    background-color: #f2f2f2;
    font-family: Arial;
}
#pad {
    margin: 10px auto;
    background-color: white;
}

.squares{
    display: inline-block;
    float: left;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
}

.row{
    clear: both;
    margin: 0 auto;
}

.painted{
    background-color: #ff80b3;
    border-top: 1px solid #ff80b3;
    border-left: 1px solid #ff80b3;
}

#inputs {
    width: 600px;
    margin: 20px auto 0 auto;
    background-color: #f2f2f2;
}

button {
    width: 120px;
    text-align: center;
    float: left;
    margin-left: 1px;
}

.dummy{
    clear: both;
}

#colorScheme {
    float: left;
}